main {
    display: grid;
    grid-template-rows: 10fr 1fr 1fr 1fr 1fr 1fr;
}

.welcome {
    background-image: url('jeuno.png');
    display: grid;
    color: white;
}

.features {
    background-color: white;
    text-align: center;
}

.pics {
    background-color: lightblue;
}

.customizations {
    background-color: navy;
}

.get-started {
    background-color: lightgreen;
}

.discord {
    background-color: mediumspringgreen;
}

.navig {
    display: flex;
    justify-content: flex-end;
}

.title {
    position: absolute;
    top: 275px;
    left: 100px;
    font-size: 2rem;
}

.buttons {
    position: absolute;
    top: 450px;
    left: 100px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    margin: 10px;
}